  
<div class="ligne">
  <app-liste-ligne [listAlert]="listAlert"  #listeligne></app-liste-ligne>
</div>

<amexio-tab-pane [closable]="false">
    <amexio-tab title="Incident" [active]=true>
      <div class="conteneurIncident">
        <div class="content">
            <app-alert-trafic-list  class="contentlistincident" (loadListAlert)="loadListAlert($event)" (changeAlert)="changeAlert($event)"></app-alert-trafic-list>
            <app-alert-trafic-detail class="contentdetail"  [selectAlertTrafic]="selectAlert"></app-alert-trafic-detail>
        </div>

        <br/>
      </div>
    </amexio-tab>

    <amexio-tab title="Créer incident">
      <app-create-incident></app-create-incident>
    </amexio-tab>

    <amexio-tab title="Ligne controle">
      <app-ligne-control></app-ligne-control>
    </amexio-tab>    

  </amexio-tab-pane>

